@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&family=Merriweather:wght@300&display=swap');
a {
    display: inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav{
    margin: 0;
    padding: 5px;
    width: auto;
    background-color: #f1f1f1;
}

a:hover {
    color: grey;
  }

  h1{
      text-align: center;
      font-family: 'Merriweather';
      font-weight: 100;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    margin: 10px
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

  .logout{
      font-family: 'Merriweather';
      text-align: center;
      margin: 50px;
  }

  img{
      align-items: center;
      margin-left: 620px
  }

  .login-form{
      margin: 10px;
      text-align: center;
  }

 .sign-up{
    margin: 20px;
    list-style: none;
 }

 h3{
     text-align: center;
     font-family: 'Merriweather';
      font-weight: 100;
 }

 .thanks{
    text-align: center;
    font-family: 'Merriweather';
    
 }

 .borrow{
     text-align: center;
     margin: 10px;
 }

 .sorry{
    text-align: center;
    font-family: 'Merriweather';
 }
